.app{
  display: flex;
  align-items: center;
  margin:auto
}

.main--screen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  border-radius: 10px;
  background-color: #395B64;
  color: aliceblue;
  /* background-color: rgba(103, 214, 170, 0.589); */
  margin: auto;
}

.heading{
  font-size: 2rem;
  font-weight: bold;
}

.box--all{
  width: 800px;
  height: 350px;
  border: rgb(214, 214, 214) solid 2px ;
  background-color: rgb(236, 236, 236);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgb(136, 136, 136) 5px 5px 10px;

  /* position: relative; */

}
.first--row * {
  width: 60px;
  height: 60px;
  margin:25px;
  background-color: rgb(180, 180, 180);
  box-shadow: rgb(136, 136, 136) 5px 5px 10px;
  display: inline-block;
  flex-direction:row;
  align-items: center;
  margin: 30px;
  border-radius: 10px;
  color: aliceblue;
  font-size: 1.5rem;
  border: rgb(138, 138, 138) solid 2px ;
  
}

.second--row * {
  box-shadow: rgb(136, 136, 136) 5px 5px 10px;

  width: 60px;
  height: 60px;
  margin:25px;
  background-color: rgb(180, 180, 180);
  display: inline-block;
  flex-direction:row;
  align-items: center;
  margin: 30px;
  border-radius: 10px;
  color: aliceblue;
  font-size: 1.5rem;
  border: rgb(138, 138, 138) solid 2px ;

}
.first--row :hover{
  transition-duration: 300ms;

  background-color: rgb(160, 175, 135);
  
}
.second--row :hover{
  transition-duration: 300ms;
  background-color: rgb(160, 175, 135);

}
.roll{
  width: 70px;
  height: 30px;
  background-color: #395B64;
  border-radius: 10px;
  color: aliceblue;
  margin: 45px 0 0 0;
  border: #A5C9CA 2px solid;
  box-shadow: rgb(196, 197, 193) 5px 5px 10px;
  
  
}
.roll:hover{
  transition-duration: 300ms;
  
  background-color:#A5C9CA;
}
.text--below{
  font-size: 2rem;
  margin: 20px;
}

.text{
  margin: 20px;
}

.score{
  font-size: 1rem;
}
.scoreNo{
  font-size: 1.5rem;
  font-weight: 900;
}